.result{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 625px;
    height: 750px;
    font-size: 20px;
}
.button{
    width: 200px;
    height: 100px;
}